<div class="section-top-border white">
    <div class="container">
        <div class="row">
            <div class="col-2">
                
            </div>
            <div class="col-8">
                <h1>Ajouter un compte</h1>
                
                
                
            </div>
        </div>
    </div>
</div>