<div class="section-top-border white">
						<div class="row">
						    <div class="col-lg-2 col-md-8">
						        
						    </div>
							<div class="col-lg-8 col-md-8">
								<h3 class="mb-30">Nous contacter</h3>
								<form action="#">
									<div class="mt-10">
										<input type="text" name="last_name" placeholder="Nom" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last Name'" required class="single-input">
									</div>
									<div class="mt-10">
										<input type="text" name="first_name" placeholder="Prénom" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First Name'" required class="single-input">
									</div>
									<div class="mt-10">
										<input type="email" name="EMAIL" placeholder="Adresse email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required class="single-input">
									</div>
									<div class="mt-10">
										<textarea class="single-textarea" placeholder="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required></textarea>
									</div>
									
									<div class="col-lg-4 col-md-12 mt-10">
												<button class="genric-btn primary-border circle">Envoyer</button>
									</div> 
								</form>
							</div>
						</div>
</div>