<!-- Start faq Area -->
			<section class="faq-area section-gap" id="faq">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Foire aux questions</h1>
								<p>Les réponses aux questions les plus fréquentes.</p>
							</div>
						</div>
					</div>							
					<div class="row d-flex align-items-center">
						<div class="faq-content col-lg-12 col-md-12">
							<div class="single-faq">
								<h2>
									Comment utiliser DropyFind ? ?
								</h2>
								<p>
									Pour commencer à utiliser le site, vous devez sous inscrire et choisir votre formule d’abonnement. Les utilisateurs premium ont accès aux fonctionnalités de recherche avec un système de filtre basé sur le nombre d’abonnés, la catégorie du compte, etc.
								</p>
							</div>
							<div class="single-faq">
								<h2>
									Comment sont choisi les influenceurs ?
								</h2>
								<p>
									Les influenceurs sont sélectionnés pour répondre à des critères de qualités dans le but de vous offrir un service de qualité et vous aider à atteindre vos objectifs.
								</p>
							</div>
							<div class="single-faq">
								<h2>
									Combien de temps je suis engagé ?
								</h2>
								<p>
									L’abonnement premium est mensuel et il n’y a aucune période d’engagement.
								</p>
							</div>												
						</div>									
					</div>
				</div>
			</section>
			<!-- End faq Area -->