<div class="section-top-border white">
    <div class="container">
        <div class="row">
            <div class="col-2">
                
            </div>
            <div class="col-8">
                
                <h1>Termes et conditions</h1>
<p>En utilisant le logiciel DropyFind ou en créant un compte, vous acceptez les présentes conditions, qui donneront lieu à un accord juridique entre vous et DropyFind. DropyFind (« DropyFind », « nous » ou « notre ») est une plateforme en ligne (« l’application ») qui vous permet de trouver des influenceurs, de créer et de gérer des campagnes de marketing d’influence. L’application est disponible par l’intermédiaire de nos sites Web et tout autre site Web que nous possédons, exploitons ou contrôlons (nous les appellerons collectivement le « site Web » et, avec l’application, le « Service »). DropyFind compte des employés, des entrepreneurs indépendants et des représentants (« notre équipe »). En tant que client du Service ou représentant d’une entité cliente du Service, vous êtes un « Membre » au sens du présent Contrat (ou « vous »).</p>
<p>Les présentes Conditions Générales d’Utilisation (« Conditions ») définissent les termes et conditions selon lesquels vous êtes autorisé à utiliser le Service conformément au Contrat, et comment nous traiterons votre compte pendant que vous êtes un Membre. Si vous n’acceptez pas ces Conditions, vous devez immédiatement cesser d’utiliser le Service.</p>
<p>Si vous avez des questions au sujet de nos conditions, n’hésitez pas à nous contacter à contact@dropyfind.com.</p>

<h2>Compte</h2>
<h3>Eligibilité</h3>
<p>Afin d’utiliser le Service, vous devez :</p>
<p>Être âgé d’au moins dix-huit (18) ans et être en mesure de conclure des contrats ;</p>
<p>Compléter le processus de création du compte ;</p>
<p>Accepter ces conditions ;</p>
<p>Fournir des renseignements de contact et de facturation véridiques, complets et à jour ;</p>
<p>En utilisant le Service, vous déclarez et garantissez que vous répondez à toutes les exigences énumérées ci-dessus et que vous n’utiliserez pas le Service d’une manière qui viole les lois ou règlements. Notez qu’en représentant et</p>
<p>en garantissant, vous faites une promesse juridiquement exécutoire.</p>
<p>peut refuser le service, fermer les comptes de tout membre et modifier les conditions d’admissibilité en tout temps.</p>

<h3>Terme</h3>
<p>Lorsque vous créez un compte et que vous acceptez les présentes modalités, l’entente entre vous et DropyFind est formée et la durée de l’entente (la « durée ») commence. La durée du contrat se poursuivra tant que vous aurez un compte DropyFind ou jusqu’à ce que vous, ou nous, résilions le contrat conformément aux présentes conditions. Si vous ouvrez un compte au nom d’une entreprise ou d’une autre entité, vous déclarez et garantissez que vous avez l’autorité d’accepter ces conditions et de conclure l’entente en son nom.</p>

<h3>Fermeture de votre compte</h3>
<p>Vous ou DropyFind pouvez résilier le Contrat à tout moment et pour quelque raison que ce soit en résiliant votre compte DropyFind ou en avisant l’autre partie. Nous pouvons vous suspendre le Service à tout moment, avec ou sans motif. Si nous résilions votre compte payé sans motif valable, nous vous rembourserons le prorata de votre prépaiement mensuel pour un plan mensuel ou le prorata de votre prépaiement annuel pour un plan annuel. Nous ne vous rembourserons pas dans toute autre situation, y compris si votre compte est suspendu ou résilié pour un motif valable, comme une violation du Contrat. Une fois votre compte résilié, vous reconnaissez et acceptez que nous puissions supprimer définitivement votre compte et toutes les données qui y sont associées, y compris vos campagnes, listes, rapports, etc. Les noms d’utilisateur sont uniques et ne peuvent être utilisés qu’une seule fois. Si votre compte a été résilié, votre nom d’utilisateur ne pourra plus être utilisé sur d’autres comptes et ne pourra être récupéré.</p>

<h3>Changements</h3>
<p>Nous pouvons modifier les conditions en affichant des conditions révisées sur notre site Web. À moins que vous ne résiliez votre compte, les nouvelles Conditions entreront en vigueur immédiatement et s’appliqueront à toute utilisation continue ou nouvelle du Service. Nous pouvons modifier le Service ou toute caractéristique du Service à tout moment, et nous pouvons interrompre le Service ou toute caractéristique du Service à tout moment. </p>
<h3>Compte et mot de passe</h3>
<p>Vous êtes responsable de la confidentialité de votre nom d’utilisateur et de votre mot de passe. < /p>
<p>Vous êtes également responsable de tout compte auquel vous avez accès et de toute activité se déroulant sur ce compte (autre qu’une activité dont DropyFind est directement responsable et qui n’est pas effectuée conformément à vos instructions), que vous ayez ou non autorisé cette activité. </p>
<p>Vous nous informerez immédiatement de tout accès ou utilisation non autorisé de vos comptes. </p>
<p>Nous ne sommes pas responsables des pertes dues à des mots de passe volés ou piratés. Nous n’avons pas accès à votre mot de passe actuel et, pour des raisons de sécurité, il se peut que nous vous fournissions uniquement des instructions sur la façon de réinitialiser votre mot de passe. Nous avons le droit de mettre à jour vos coordonnées dans votre compte à des fins de facturation. De plus, vous déclarez et garantissez que tous les renseignements que vous nous fournissez sont exacts.</p>
<h3>Différends relatifs aux comptes</h3>
<p>Nous ne connaissons pas le fonctionnement interne de votre organisation ni la nature de vos relations personnelles. Vous ne demanderez pas l’accès à un compte qui n’est pas le vôtre et vous ne demanderez pas l’accès à de l’information sur un compte qui n’est pas le vôtre, et vous réglerez tout différend lié au compte directement avec l’autre partie. Nous décidons à qui appartient un compte en fonction du contenu de ce compte, et si plusieurs personnes ou entités sont identifiées dans le contenu, nous nous baserons sur les informations de contact et de profil énumérées pour ce compte.</p>
<p>Dans les cas où des informations de contact et de profil différentes sont présentes, nous vous demanderons de résoudre le problème par les voies appropriées en dehors de DropyFind.</p>
<p>Lorsqu’un litige est identifié, nous pouvons suspendre tout compte associé au litige, y compris désactiver les capacités de connexion et d’envoi, afin de protéger la sécurité et la confidentialité des données détenues dans le compte.</p>
<h2>Paiement</h2>
<h3>Abonnements mensuels payants</h3>
<p>Lorsque vous souscrivez à un abonnement mensuel payant, vous devez choisir vous-même votre abonnement (ensemble, votre « abonnement mensuel ») parmi ceux affichés sur notre site Web en fonction de votre utilisation prévue du Service. Chaque abonnement mensuel offre différents prix et options. Une fois que vous avez sélectionné votre abonnement mensuel, DropyFind ne vous changera jamais automatiquement d’abonnement. Si vous dépassez les limites d’utilisation de votre abonnement mensuel, vous ne pourrez plus utiliser ces fonctions avant le mois suivant et la réinitialisation de votre quota. Vous aurez toujours la possibilité de passer à un abonnement supérieur à tout moment ou à un abonnement inférieur. Si vous effectuez un changement au cours d’un cycle de facturation, le changement aura lieu au début de la période de facturation suivante. </p>
<p>Vous aurez également la possibilité de rétrograder à un abonnement inférieur à tout moment, mais si vous choisissez de rétrograder au cours d’un cycle de facturation, votre rétrogradation ne sera effective qu’à la fin de ce cycle et vous serez toujours facturé pour l’ensemble de ce cycle de facturation au niveau supérieur.</p>
<p>Lorsque vous souscrivez à un abonnement mensuel, vous convenez d’une facturation mensuelle récurrente, à compter de la date à laquelle vous vous inscrivez. La facturation a lieu le même jour chaque mois, en fonction de la date à laquelle vous avez commencé votre abonnement mensuel. Les paiements sont exigibles pour tout mois à la même date ou à la date la plus rapprochée du jour où vous avez effectué votre premier paiement mensuel (la « date de paiement »). La facturation des forfaits mensuels peut être interrompue et vous pouvez choisir de fermer votre compte de façon permanente en tout temps. </p>
<h3>Cartes de débit et de crédit</h3>
<p>Tant que vous êtes abonné ou que vous avez un solde impayé chez nous, vous nous fournirez des renseignements valides sur votre carte de débit ou de crédit (« carte ») et nous autoriserez à déduire vos frais de cette carte. Vous remplacerez l’information de toute carte qui expire par l’information d’une carte valide. Si votre carte est automatiquement remplacée par une nouvelle carte par un processeur de paiement, vous reconnaissez et acceptez que nous sommes autorisés à déduire tous les frais portés à votre compte avec la nouvelle carte. Toute personne qui utilise une carte déclare et garantit qu’elle est autorisée à utiliser cette carte et que tous les frais peuvent être facturés sur cette carte et ne seront pas rejetés. Si nous ne sommes pas en mesure de traiter votre commande par carte, nous essaierons de vous contacter par email et de suspendre votre compte jusqu’à ce que votre paiement puisse être traité.</p>
<h3>Remboursements</h3>
<p>Vous n’aurez en aucun cas droit à un remboursement ou à un crédit de notre part. Nous pouvons, à notre seule discrétion, offrir un remboursement, un escompte ou un crédit.</p>
<h3>Modifications de facturation</h3>
<p>Nous pouvons modifier le prix des essais et des abonnements à tout moment en affichant une nouvelle structure de prix sur notre site Web ou dans votre compte et/ou en vous envoyant un avis par email. </p>
<h2>Droits</h2>
<h3>Droits de propriété détenus par nous et par vous</h3>
<p>Nous détenons tous les droits de propriété du Service, y compris, mais sans s’y limiter, les brevets, marques de commerce, marques de service, secrets commerciaux, droits d’auteur et autres droits de propriété intellectuelle. Vous respecterez nos droits de propriété sur le Service, et vous ne pourrez utiliser les actifs de notre marque que conformément à nos directives de marque. <p>
<p>Vous déclarez et garantissez que vous possédez ou avez la permission d’utiliser tout le matériel, le contenu, les données et l’information (y compris vos renseignements personnels et ceux d’autres personnes) que vous soumettez à DropyFind dans le cadre de l’utilisation du service (le « contenu »). Vous conservez la propriété du Contenu que vous téléchargez sur le Service. Nous pouvons utiliser ou divulguer votre Contenu (y compris tout renseignement personnel qui s’y trouve) uniquement tel que décrit dans les présentes Conditions, notre Politique de confidentialité. </p>
<h3>Politique de confidentialité</h3>
<p>Votre vie privée est importante pour nous. Veuillez lire notre Politique de confidentialité pour obtenir des renseignements sur la façon dont nous recueillons, utilisons et divulguons votre contenu et vos renseignements personnels et protégeons votre vie privée lorsque vous utilisez le Service.</p>
<h2>Règles et abus</h2>
<h3>Règles générales</h3>
En acceptant ces conditions, vous vous engagez à suivre ces règles :
<p>Vous n’enverrez pas de spam aux influenceurs</p>
<p>Vous n’utiliserez pas les listes achetées, louées ou de tiers. </p>
<p>Nous pouvons également suspendre ou résilier votre compte si nous déterminons, à notre seule discrétion, que vous l’êtes : </p>
<p>une organisation qui a publiquement déclaré ou reconnu que ses buts, objectifs, positions ou principes fondateurs comprennent des énoncés ou des principes qui pourraient raisonnablement être perçus comme préconisant, encourageant ou parrainant un contenu haineux ou une menace de violence physique ; </p>
<p>une personne qui a fait publiquement un commentaire ou une déclaration, ou qui a autrement fait connaître publiquement une position, y compris en étant membre d’une organisation comme il est indiqué ci-dessus, qui pourrait raisonnablement être perçue comme un contenu haineux ou une menace de préjudice physique ; ou</p>
<p>une personne ou une organisation qui a agi d’une manière qui pourrait raisonnablement être perçue comme appuyant, tolérant, encourageant ou représentant un contenu haineux ou une menace d’agression physique. </p>
<p>Si vous violez l’une de ces règles, nous pouvons suspendre ou résilier votre compte. </p>
<h3>Respect des lois</h3>
<p>Vous déclarez et garantissez que votre utilisation du Service sera conforme à toutes les lois et réglementations applicables. Il vous incombe de déterminer si le Service est adapté à votre utilisation à la lumière de vos obligations en vertu de réglementations telles que les lois de l’UE sur la confidentialité des données (y compris le Règlement général sur la protection des données) (« Lois de l’UE sur la confidentialité des données »), alors nous ne serons pas responsables si le Service ne répond pas à ces exigences. Vous ne pouvez pas utiliser le Service pour des activités illégales ou discriminatoires à toute autre loi applicable. </p>
<h2>Responsabilité</h2>
<h3>Limitation de responsabilité</h3>
<p>Dans toute la mesure permise par la loi, vous reconnaissez et acceptez que</p>
<p> (i) vous assumez l’entière responsabilité de toute perte résultant de votre utilisation du Service ; </p>
<p> (ii) nous et notre équipe ne serons en aucun cas responsables des dommages indirects, punitifs, spéciaux ou consécutifs, même s’ils sont fondés sur la négligence ou si nous avons été informés de la possibilité de ces dommages ; et</p>
<p> (iii) au cours d’un mois civil, notre responsabilité totale envers vous, qu’elle soit contractuelle, délictuelle (y compris la négligence), le manquement à une obligation légale ou autre, ne sera pas supérieure à ce que vous nous avez payé le mois précédent pour le service ou en rapport avec celui-ci. </p>
<p>Pour éviter tout doute, en aucun cas, nous ou notre équipe ne serons responsables des pertes ou dommages que vous subissez si vous utilisez le Service en violation des présentes Conditions, que nous résilions ou suspendions votre compte en raison de cette violation. </p>
<h3>Aucune garantie</h3>
<p>Dans toute la mesure permise par la loi, nous fournissons le Service tel quel. Cela signifie que, sauf indication contraire expresse dans les présentes Conditions, nous ne fournissons aucune garantie, condition ou engagement, explicite ou implicite, de quelque nature que ce soit, en relation avec le Service. Ceci inclut, mais sans s’y limiter, les garanties de qualité marchande et d’adaptation à un usage particulier, qui sont, dans toute la mesure permise par la loi, exclues du Contrat. Puisque les Membres utilisent le Service pour diverses raisons, nous ne pouvons pas garantir qu’il répondra à vos besoins spécifiques. </p>
<h3>Indemnité</h3>
<p>Vous acceptez de nous indemniser et de nous tenir, ainsi que notre équipe, à couvert de toute perte, y compris les frais juridiques et les dépenses qui résultent directement ou indirectement de toute réclamation que vous faites et qui ne sont pas autorisées en vertu des présentes conditions en raison d’une « limitation de responsabilité » ou d’une autre disposition. (L’indemnisation est une entente visant à indemniser quelqu’un pour une perte.) Vous acceptez également de nous indemniser et de nous tenir à couvert de toute perte, y compris les frais juridiques, qui résulte directement ou indirectement de : </p>
<p> (i) votre Contenu, </p>
<p> (ii) votre utilisation du Service, </p>
<p> (iii) votre violation d’une loi ou d’un règlement, </p>
<p> (iv) un tiers prétend que vous ou quelqu’un utilisant votre mot de passe avez fait quelque chose qui, s’il était vrai, violerait l’une des présentes Conditions, </p>
<p> (v) toute fausse déclaration faite par vous, ou</p>
<p> (vi) une violation de toute déclaration ou garantie que vous nous avez faite. </p>
<h3>Allégement équitable</h3>
<p>Votre violation de ces conditions peut causer un préjudice irréparable à nous et à notre équipe. Par conséquent, nous avons le droit de demander une injonction ou une autre mesure de redressement équitable si vous violez les présentes conditions (ce qui signifie que nous pouvons demander une ordonnance du tribunal pour vous arrêter). </p>
<h3>Avis de non-responsabilité</h3>
<p>Nous et notre équipe ne sommes pas responsables du comportement des tiers, des sites Web liés ou des autres membres. </p>
<h2>Autres choses importantes</h2>
<h3>Affectations</h3>
<p>Vous ne pouvez céder aucun de vos droits en vertu de la présente convention à qui que ce soit d’autre. Nous pouvons céder nos droits à toute autre personne ou entité à notre discrétion. </p>
<h3>Force Majeure</h3>
<p>Nous ne serons pas tenus responsables des retards ou des défaillances dans l’exécution de toute partie du Service, pour toute cause indépendante de notre volonté. Cela comprend, sans toutefois s’y limiter, les modifications apportées aux lois ou aux règlements, les embargos, les guerres, les actes terroristes, les émeutes, les incendies, les tremblements de terre, les accidents nucléaires, les inondations, les grèves, les pannes de courant, l’action volcanique, les conditions météorologiques particulièrement mauvaises, les actes des pirates ou des fournisseurs de services Internet tiers. </p>
<h3>Intégralité de l’accord</h3>
<p>Les présentes conditions et toute condition supplémentaire que vous avez convenue de constituer l’intégralité de l’accord entre nous en ce qui concerne son objet et remplacent tous les accords, déclarations et ententes antérieurs. </p>

                
            </div>
        </div>
    </div>
</div>


