<!-- Start price Area -->
			<section class="price-area section-gap" id="price">
				<div class="container">
					<div class="row d-flex justify-content-center">
						<div class="menu-content pb-60 col-lg-8">
							<div class="title text-center">
								<h1 class="mb-10">Choose the Perfect Plan for you</h1>
								<p>Who are in extremely love with eco friendly system.</p>
							</div>
						</div>
					</div>					
					<div class="row">
						<div class="col-lg-4">
							<div class="single-price">
								<div class="top-sec d-flex justify-content-between">
									<div class="top-left">
										<h4>Standard</h4>
										<p>Usage limité</p>
									</div>
									<div class="top-right">
										<h1>19,99€</h1>
									</div>
								</div>
								<div class="bottom-sec">
									<p>
										Vous pouvez cherchez par :
									</p>
								</div>
								<div class="end-sec">
									<ul>
										<li>Type de contenu</li>
										<li>Pays</li>
										<li>Sexe</li>
									</ul>
									<a href="/charges/new_one" class="primary-btn price-btn mt-20">S'abonner</a>
								</div>								
							</div> 
						</div>
						<div class="col-lg-4">
							<div class="single-price">
								<div class="top-sec d-flex justify-content-between">
									<div class="top-left">
										<h4>Business</h4>
										<p>Usage professionnel</p>
									</div>
									<div class="top-right">
										<h1>29,99€</h1>
									</div>
								</div>
								<div class="bottom-sec">
									<p>
										Vous pouvez cherchez par :
									</p>
								</div>
								<div class="end-sec">
									<ul>
										<li>Type de contenu</li>
										<li>Nombre d'abonnés</li>
										<li>Nombre de publications</li>
										<li>Taux d'engagement</li>
										<li>Pays</li>
										<li>Sexe</li>
									</ul>
									<a href="/charges/new_two" class="primary-btn price-btn mt-20">S'abonner</a>
								</div>								
							</div> 
						</div>	
						<div class="col-lg-4">
							<div class="single-price">
								<div class="top-sec d-flex justify-content-between">
									<div class="top-left">
										<h4>Ultimate</h4>
										<p>Usage sans limites</p>
									</div>
									<div class="top-right">
										<h1>39,99€</h1>
									</div>
								</div>
								<div class="bottom-sec">
									<p>
										Vous pouvez cherchez par :
									</p>
								</div>
								<div class="end-sec">
									<ul>
										<li>Vous pouvez trier vos résultats selon les critères de votre choix</li>
										<li>Type de contenu</li>
										<li>Nombre d'abonnés</li>
										<li>Nombre de publications</li>
										<li>Taux d'engagement</li>
										<li>Pays</li>
										<li>Sexe</li>
									</ul>
									<a href="/charges/new_three" class="primary-btn price-btn mt-20">S'abonner</a>
								</div>									
							</div> 
						</div>							
																						
					</div>
				</div>	
			</section>
			<!-- End price Area -->
